
                    	<div class="panel-body">
                    		<h3>Blog List</h3>

                    		<ul>
                    			<li *ngFor="let post of allPosts">
                    				<strong>{{post.title}}</strong>
                    				<p>{{post.body}}</p>
                    				<hr/>
                    			</li>
                    		</ul>
                    	</div>
